<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1 class="hero">
    {{title}}
  </h1>
  <button class="btn">Dashboard</button>
  <button class="btn">Heroes</button>
  <div>
    <ul class="heroes">
      List of heroes:
      <li *ngFor="let hero of heroes" [class.selected]="hero.selected" (click)="isSelected(hero)">
        <span class="badge" >{{hero.id}}</span>{{hero.name}}
      </li>
    </ul>
  </div>
  <div>
    <h2>You selected:</h2>
    <h3 *ngIf="!(detailHeroName == null)">{{detailHeroName}}, hero ID is equal to {{detailHeroID}}</h3>
  </div>
</div>
